---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import CookieConsent from "../components/CookieConsent.astro";
import { META } from "../constants/meta";
import "../styles/index.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={META.description} />
    <meta name="viewport" content={META.viewport} />
    <link rel="icon" type="image/svg+xml" href={META.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href={META.fontAwesome} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {
      META.googleFonts.map((fontUrl) => (
        <link href={fontUrl} rel="stylesheet" />
      ))
    }
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <CookieConsent
      message="Usamos cookies propias y de terceros para mejorar el funcionamiento y rendimiento de nuestro sitio web, analizar el tráfico y personalizar el contenido. Las cookies permiten ciertas funcionalidades esenciales y nos ayudan a entender cómo se utiliza nuestro sitio para ofrecer una mejor experiencia de usuario. Puede aceptar todas las cookies o rechazarlas."
      acceptText="Aceptar"
      rejectText="Rechazar"
    />
  </body>
</html>
