---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { META } from "../constants/meta";
import "../styles/index.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={META.description} />
    <meta name="viewport" content={META.viewport} />
    <link rel="icon" type="image/svg+xml" href={META.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href={META.fontAwesome} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {META.googleFonts.map(fontUrl => (
      <link href={fontUrl} rel="stylesheet" />
    ))}
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
