---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import CookieConsent from "../components/CookieConsent.astro";
import { META } from "../constants/meta";
import "../styles/index.css";
import { MESSAGE_COOKIE_CONSENT } from "@constants/common";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={META.description} />
    <meta name="viewport" content={META.viewport} />
    <link rel="icon" type="image/svg+xml" href={META.favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Preload del video -->
    <link
      rel="preload"
      href="/peludogs/assets/video/gosbi_publi.mp4"
      as="video"
    />
    <!-- Preload critical fonts -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap"
      /></noscript
    >
    <link rel="stylesheet" href={META.fontAwesome} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Load fonts with map -->
    {
      META.googleFonts.map((fontUrl) => (
        <link href={fontUrl} rel="stylesheet" />
      ))
    }
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <CookieConsent
      message={MESSAGE_COOKIE_CONSENT}
      acceptText="Aceptar"
      rejectText="Rechazar"
    />
  </body>
</html>
